* {
  margin: 0;
  padding: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 99999;
}

.navbar img {
  border-radius: 30%;
  margin-left: 2%;
}
ul {
  display: flex;
  gap: 20%;
  align-items: center;
}
ul li a {
  text-decoration: none;
  color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
ul li a:hover {
  color: brown;
  transition: 0.3s;
}
.up {
  height: 40%;
  margin-top: 1%;
  color: rgb(255, 0, 0);
  background-color: rgb(204, 207, 207);
}
.container {
  margin-top: 0;
}
.container img {
  width: 200px;
}
.pop {
  display: grid;
  gap: 30px;
  text-align: center;
}
.pop img {
  margin: auto;
  margin-top: 5%;
}
.pop h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
}
.pop p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.but {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.but button {
  padding: 1%;
  background-color: #0477a4;
  border: none;
  border-radius: 10%;
  color: antiquewhite;
  font-size: 20px;
}
.but .it {
  padding: 15px;
  border-radius: 5%;
  border: 1px solid;
}
/* 2seyfe */

.containerr {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
  margin-top: 2%;
}
.photo img {
  width: 90%;
  height: 60vh;
  box-shadow: 0 6px 18px rgba(0, 1, 1, 0.8);
}
.photo img:hover {
  filter: brightness(80%);
  transition: 0.5s ease;
}
.yazilar {
  text-align: start;
  color: #505050;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}
.container3 {
  margin-left: 7%;
}
.container3 .imic {
  background-image: url(img/scott-webb-bmmcfZqSjBU-unsplash.jpg);
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-top: 3%;
  margin-right: 5%;
}
.container3 .imic:hover {
  filter: brightness(60%);
  transition: 0.3s ease;
}
.container3 .imicef:hover {
  filter: brightness(60%);
  transition: 0.3s ease;
}
.container3 .imic3:hover {
  filter: brightness(60%);
  transition: 0.3s ease;
}
.container3 .imicef {
  background-image: url(img/land-o-lakes-inc-5vVjIErxZlo-unsplash.jpg);
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-top: 3%;
  margin-right: 5%;
}
.container3 .imic3 {
  background-image: url(img/eduard-pretsi-GtU3sfUQMkA-unsplash.jpg);
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-top: 3%;
}
.container3 h1 {
  color: #0477a4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
